h1 Welcome to chat arra

a(href="/sign-up") Sign up

form(action="/login", method="post")
  label(for="email") Email
  input#email(type="email", name="email")

  label(for="password") Password
  input#password(type="password", name="password")

  input(type="submit", value="Log in")
